*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.list-item{
    width: calc(100% / 10);
    padding: 1rem;
}